.Loginbutton{
    text-align: center;
    background-color: rgb(45, 90, 238);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 6px;
    font-size: larger;
    border-color: black;
}

.body{
    width: 200px;
   align-items: center;
   text-align: center;
   margin: 150px auto;
   padding: 10%;
   border-radius: 3%;
   border-color: black;
   border-bottom: 75%;
   background-color: rgb(45, 90, 238);
}

.senhabutton{
    background-color: rgb(45, 90, 238);
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 6px;
    font-size: larger;
    border-color: black;
}

.Email{
    border-radius: 2%;
    width: 110%;
    background-color: white;
    border-color: black;
    border-width: 10%;
    height: 20px;
}

.login{
    padding: 0%;
    margin-top: -20%;
}

.Senha{
    border-radius: 2%;
    width: 110%;
    /* height: 10%; */
    background-color: white;
    border-color: black;
    border-width: 10%;
    height: 20px;
}